* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
body{
    font: 400 14px/1 Arial, Tahoma, Verdana, sans-serif;
}
.wrapper {
    overflow: hidden;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-top {
    background: #000;
}
.header-top ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:  flex-end;
}
.header-top ul a {
    color: #fff;
    display: block;
    padding: 5px 15px;
    text-decoration: underline;
}
.header-top ul a:hover {
	text-decoration: none;
}
.header-top .phone-number a {
    text-decoration: none;
}
.header-top li:last-child a {
    padding-right: 0;
}
.header-main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main {
    padding: 10px 0;
}
.logo img{
    max-width: 140px;
}
.search-form {
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    max-width: 320px;
    flex-grow: 1;
	margin: 10px;
}
.search-form input{
    border: none;
    background: none;
    padding: 5px 8px;
    outline: none;
}
.search-form input[type="submit"] {
    background: #000;
    color: #fff;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: .3s;
}
.search-form input[type="submit"]:hover {
    background: #555;
}
.search-form input[type="search"] {
    flex-grow: 1;
}
hr {
	height: 4px;
	color: #000;
	background-color: #000;
}
.navigation {
	margin: 10px;
	display: flex;
		
}

.navigation a {
	margin-right: 13%;
	padding-left:4%;
	text-decoration: underline;
	color: #000;
	font-size: 14px;
	font-style: sans-serif;
	position: relative;
}
.navigation a:hover {
	text-decoration: none;
	color:#785c3d;
}
.mobile-menu {
	display: none;
	
}
label.mobile-menu img{
	width: 26px;
	height:auto;
	cursor:pointer;
	
	
}

.aside-block {
	border: 3px solid #000;	
	 padding: 10px 15px;
	 text-align: center;
	 height: auto;
	 font-size: 20px;
	 max-width:auto;
}
.main-block {
	border: 1px solid #000;
	padding: 10px 15px;
	max-width: 100%;
	top: auto;
	height: auto;
	font-size: 24px;
	text-align: center;
} 
.wrapper-flex{ 
	border: 3px solid #000;	
	display: flex;
}
.title16 {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 20px;	
}
.sidebar-navigation li{
	transition: .3s;
	margin: -1px 5px 0;
	
}
.sidebar-navigation li:not(:last-child){
	border-bottom: 1px dashed #000;
}
.sidebar-navigation a{
	color: #000;	
	padding:9px 0;
	display:block;
	margin: 8px;
}
.sidebar-navigation a:hover{
	background:#000;
}
.sidebar-navigation li:hover{
	background-color:#ff0;
}
.bestsellers li{
	text-align: center;
	padding:15px;
	border-bottom: 1px solid #000;	
}
.bestsellers img{
	max-width: 90%;
}
.bestsellers li:last-child {
	border: none;
}
.product {
    display: flex;
}
.product__image{
    border: 1px solid #000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.product__info {
    width: 60%;
    padding-left: 20px;
}
.product__name {
    font-size: 24px;
    margin: 0 0 20px;
}
.product__price{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #f00;
}
.product__variant h6 {
    font-size: 16px;
    font-style: italic;
    text-decoration: underline;
    margin: 0 0 8px;
}
.product__colour ul {
    display: flex;
    flex-wrap: wrap;
}
.product__colour li {
    margin: 0 8px 8px 0;
}
.product__colour input[type='radio']{
    display: none;
}
.product__colour input[type='radio'] + label {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #f5f5f5;
}
.product__colour input[type='radio']:checked + label {
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
}
.product__variant .button{
    margin-top: 20px;
	background:#000;
	color: #FFF;
}
.button {
    background: #7e7e7e;
    background: -moz-linear-gradient(top,  #7e7e7e 0%, #0e0e0e 57%);
    background: -webkit-linear-gradient(top,  #7e7e7e 0%,#0e0e0e 57%);
    background: linear-gradient(to bottom,  #7e7e7e 0%,#0e0e0e 57%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#0e0e0e',GradientType=0 );
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: 0.3s;
}
.button:hover{
    background: #0e0e0e;
    background: -moz-linear-gradient(top,  #0e0e0e 43%, #7e7e7e 100%);
    background: -webkit-linear-gradient(top,  #0e0e0e 43%,#7e7e7e 100%);
    background: linear-gradient(to bottom,  #0e0e0e 43%,#7e7e7e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7e7e7e',GradientType=0 );
}
.text-block h3 {
	padding-bottom: 30px;
}
.text-block {
	margin-top: 5%;
	padding: 10px 15px;
	max-width:auto;
	font-size: 22px;
	height: auto;
	color: #000;
}
.table h3 {
	text-align: left;
	padding-top:10px;
	padding-bottom: 20px;
}
.table {
	padding: 10px 15px;
	text-align:left;
	font-size:22px;
	color: #000;
}

.table tr:nth-last-child(odd) {
    background-color: #C0C0C0;
}
.inline-block {
	display: flex;
	padding: 30px;
}
.box {
	border: 1px solid #000;
	width: 500px;
	height: 300px;
	margin-left: 2%;
	background: #808080;
	color: #FFF;
	text-align: center;
	font-size:20px;
}
.box p{
	margin-left: auto;
    margin-right: auto;
	margin-top:90px;
}
.footer {
    font-size:20px;
	display:flex;
	border: 1px solid #000;
	width:100%;
	height:300px;
	color:#000;
}
.footer img {
	max-width:60px;
}
.block links {
	text-decoration:#000;
}
.block {
	padding-top:30px;
	padding-left: 17%;
	margin-right:3%;
}
.wrapp {
	background-color:#000;
	color: #FFF;
	font-size:20px;
	height:40px;
	
}
.contain {
	margin-left:30px;
}
@media (max-width: 1024px) {
.logo img{
		max-height:60px;	
	}
.search-form {
    max-width: 250px;
	}
nav.navigation ul {
	display: none;
	position: absolute;
	background: #fff;
	border-bottom: 2px solid #000;
	padding: 15px 20px;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.4);
}
nav.navigation ul a {
	display: block;
	padding: 7px 0;
	font-size: 14px;
	text-align: center;
	
}
label.mobile-menu {
	display: inline-block;
	
}
.navigation.container {
	text-align: center;
}
.navigation input[type="radio"]:checked~ ul {
	display:block;
	
}
}
@media (max-width 460px){
	.logo img {
		margin: 0 0 5px;	
	}
.header-main .container {
	
}
	
}
